[Unit]
Description=Network Monitor Service
After=network.target

[Service]
Type=simple
ExecStart=/root/network_watchdog.sh

[Install]
WantedBy=multi-user.target